.about {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  > * {
    text-align: center;
    color: black;
  }

  .about-link {
    margin: 0 auto;
    display: block;
    width: fit-content;
    text-decoration: underline;
    cursor: pointer;
    color: var(--red);
  }
}
