.task-item {
  --spacing: 0.5rem;

  &,
  * {
    background-color: var(--blue);
  }

  > * {
    color: black;
    margin: 5px 0;
  }

  padding: var(--spacing);
  // border: 1px solid plum;
  border-radius: 1rem;
  position: relative;
  min-width: 300px;

  .btn {
    cursor: pointer;
  }

  .delete-btn {
    position: absolute;
    right: var(--spacing);
    top: var(--spacing);
    width: 3rem;
    height: 3rem;
    padding: 0;
    background: transparent;
    border-radius: 4rem;
  }

  .remind-btn {
    border-radius: 7px;
  }

  svg {
    fill: var(--red);
  }
}

.reminder {
  border-left: 6px var(--red) groove;
}
