.task-item {
  --spacing: 0.5rem;

  padding: var(--spacing);
  border: 1px solid plum;
  border-radius: 1rem;
  position: relative;
  min-width: 300px;

  button {
    position: absolute;
    right: var(--spacing);
    top: var(--spacing);
    width: 3rem;
    background: transparent;
    border-radius: 1rem;
  }

  svg {
    fill: rgb(255, 58, 58);
    // width: 100%;
  }
}
